*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  min-height: 100vh;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p, blockquote {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  gap: 1.5rem;
  background: #0e1323;
  padding: 5.0625rem 1.5rem 5.0625rem 1.5rem;
  max-width: 33rem;
  margin: 0 auto;
}

main {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
  gap: 1.5rem;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

@property --content-bg {
  syntax: "<color>";
  initial-value: #1c204b;
  inherits: true;
}
@property --card-bg {
  syntax: "<color>";
  initial-value: #1c204b;
  inherits: false;
}
.header {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  background: #1c204b;
  border-radius: 0.9375rem;
}
.header__profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  background: #5747ea;
  padding: 2rem;
  border-radius: 0.9375rem;
}
.header__profile-img {
  border-radius: 50%;
  width: 4rem;
  box-shadow: 0 0 0 0.1875rem #ffffff;
  filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}
.header__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
}
.header__description {
  color: inherit;
  font-feature-settings: "liga" off, "clig" off;
  /* Text Preset 6 - Rubik Regular - rem(15px) - rem(18px) Line Height - rem(0px) Line Spacing */
  font-family: Rubik;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem; /* 120% */
  color: #bbc0ff;
}
.header__heading {
  color: inherit;
  font-feature-settings: "liga" off, "clig" off;
  /* Text Preset 4 - Rubik Light - rem(24px) - rem(28px) Line Height - rem(0px) Line Spacing */
  font-family: Rubik;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75rem; /* 116.667% */
  color: #ffffff;
}
.header__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 0;
  color: inherit;
  font-feature-settings: "liga" off, "clig" off;
  /* Text Preset 5 (Regular) - Rubik Regular - rem(18px) - rem(21px) Line Height - rem(0px) Line Spacing */
  font-family: Rubik;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 116.667% */
}
.header__button {
  flex: 1;
  max-width: 7.125rem;
  color: #7078c9;
  padding: 1.5rem 0;
  transition: color 0.2s;
}
.header__button:hover {
  color: #ffffff;
}
.header__button.active {
  color: #ffffff;
}

.tracking-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  padding-top: 2.375rem;
  color: #ffffff;
  border-radius: 0.9375rem;
  position: relative;
  overflow: hidden;
  background-image: var(--card-icon), linear-gradient(var(--card-bg) 0%, var(--card-bg) 50%, var(--content-bg) 50%, var(--content-bg) 100%);
  background-repeat: no-repeat;
  transition: 0.2s;
  transition-property: --card-bg, --content-bg;
}
.tracking-card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
  padding: 1.5rem;
  background-color: var(--content-bg);
  border-radius: 0.9375rem;
}
.tracking-card:hover {
  --content-bg: #33397a;
}
.tracking-card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.tracking-card__category {
  color: inherit;
  font-feature-settings: "liga" off, "clig" off;
  /* Text Preset 5 (Medium) - Rubik Medium - rem(18px) - rem(21px) Line Height - rem(0px) Line Spacing */
  font-family: Rubik;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3125rem; /* 116.667% */
}
.tracking-card__options-btn {
  box-sizing: content-box;
  width: 1.3125rem;
  height: 0.3125rem;
  padding: 0.9375rem 0.625rem;
  margin: -0.9375rem -0.625rem;
  background-color: #bbc0ff;
  mask: url("images/icon-ellipsis.svg") no-repeat center;
  mask-size: 1.3125rem 0.3125rem;
  transition: background-color 0.2s;
}
.tracking-card__options-btn:hover {
  background-color: white;
}
.tracking-card__current {
  color: inherit;
  font-feature-settings: "liga" off, "clig" off;
  /* Text Preset 3 - Rubik Light - rem(32px) - rem(38px) Line Height - rem(0px) Line Spacing */
  font-family: Rubik;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.375rem; /* 118.75% */
}
.tracking-card__previous {
  color: inherit;
  font-feature-settings: "liga" off, "clig" off;
  /* Text Preset 6 - Rubik Regular - rem(15px) - rem(18px) Line Height - rem(0px) Line Spacing */
  font-family: Rubik;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem; /* 120% */
  color: #bbc0ff;
  min-width: max-content;
}
.tracking-card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.tracking-card--work {
  --card-bg: #ff8b64;
  --card-icon: url("images/icon-work.svg");
  background-position: top -0.625rem right 1.125rem, center;
}
.tracking-card--play {
  --card-bg: #55c2e6;
  --card-icon: url("images/icon-play.svg");
  background-position: top -0.3125rem right 1.125rem, center;
}
.tracking-card--study {
  --card-bg: #ff5e7d;
  --card-icon: url("images/icon-study.svg");
  background-position: top -0.5rem right 1.125rem, center;
}
.tracking-card--exercise {
  --card-bg: #4bcf82;
  --card-icon: url("images/icon-exercise.svg");
  background-position: top -0.0625rem right 1.125rem, center;
}
.tracking-card--social {
  --card-bg: #7335d2;
  --card-icon: url("images/icon-social.svg");
  background-position: top -0.875rem right 1.125rem, center;
}
.tracking-card--self-care {
  --card-bg: #f1c75b;
  --card-icon: url("images/icon-self-care.svg");
  background-position: top -0.75rem right 1.125rem, center;
}

@media (min-width: 48rem) {
  body {
    width: 80%;
    max-width: 46.875rem;
    justify-content: center;
    padding: 2rem 0;
  }
  .tracking-card__content {
    gap: 1rem;
  }
  .tracking-card__current {
    color: inherit;
    font-feature-settings: "liga" off, "clig" off;
    /* Text Preset 1 - Rubik Light - rem(56px) - rem(66px) Line Height - rem(0px) Line Spacing */
    font-family: Rubik;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 4.125rem; /* 117.857% */
    white-space: nowrap;
  }
  .tracking-card__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;
  }
}
@media (min-width: 75rem) {
  body {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 80%;
    max-width: 75rem;
  }
  main {
    gap: 2rem;
    grid-column: 2/-1;
  }
  .header {
    grid-column: 1;
    grid-row: 1/-1;
    align-self: stretch;
  }
  .header__profile {
    flex-direction: column;
    align-items: start;
    gap: 2.5rem;
    flex: 1;
  }
  .header__profile-img {
    width: 4.875rem;
  }
  .header__heading {
    color: inherit;
    font-feature-settings: "liga" off, "clig" off;
    /* Text Preset 2 - Rubik Light - rem(40px) - rem(47px) Line Height - rem(0px) Line Spacing */
    font-family: Rubik;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.9375rem; /* 117.5% */
    color: #ffffff;
  }
  .header__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    padding: calc(1.75rem - 0.65625rem) 1rem calc(2.0625rem - 0.65625rem) 1rem;
  }
  .header__button {
    text-align: left;
    padding: 0.65625rem 1rem;
  }
  .tracking-card {
    padding-top: 2.8125rem;
  }
  .tracking-card__content {
    gap: 1.5rem;
    padding: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
